#desktop-nav,
#hamburger-nav {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  .nav-logo {
    height: 40px; 
  }

  .title-image {
    height: 35px; 
  }
}

@media (max-width: 576px) {
  .nav-logo {
    height: 35px; 
  }

  .title-image {
    height: 35px; 
  }
}

@media (max-width: 375px) {
  .nav-logo {
    height: 30px;
  }

  .title-image {
    height: 30px; 
  }
}

@media (max-width: 600px) {
  .carousel img {
    object-fit: cover; 
    height: 100vh;
    max-height: 50vh;
    width: 100vw; 
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 26px; 
  }
  .logo-container {
    margin-left: 0; 
  }
  .title-image-container {
    margin-left: 1px; 
    margin-right: 96px; 
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}


@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}


@media (max-width: 768px) {
  .copyright {
    font-size: 0.8rem;
    margin: 8px 0; 
  }
}

@media (max-width: 576px) {
  .copyright {
    font-size: 0.7rem; 
    margin: 6px 0; 
  }
}

@media (max-width: 375px) {
  .copyright {
    font-size: 0.6rem; 
    margin: 4px 0; 
  }
}